body {
    background-color: lavenderblush;
}

h1 {
    color: lightcoral;
    text-align: center;
}

p {
    background-color: aliceblue;
    color: slategray;
    padding: 15px;
}

nav {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;


}


h3 {
    background-color: white;
    color: palevioletred;
    padding: 15px;
    text-align: center;
}

h2 {
    color: palevioletred;
}

.intro {
    background-color: lightsalmon;
    padding: 15px;
    padding-right: 32px;
    padding-left: 32px;
}

a {
    background-color: white;
    display: block;
    width: 200px;
    text-decoration: none;
    color: palevioletred;
}

article .intro h2 {
    background-color: blanchedalmond;
    padding: 10px;
}

article .final {
    background-color: palegoldenrod;

}

article .final h2 {
    padding: 5px;
    height: 30px;
    width: 1000px;
    text-align: center;
}

article.final {
    background-color: lightblue;
}

article.intro {
    background-color: rosybrown;

}